body {
    background-color: darkgray;
}
#image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#welcome{
    font-size:8ex;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30ex;
    margin-right: 30ex;
    font-size: 2.5ex;
}
.textHeader {
    font-size: 5ex;
    margin-bottom: 0.5ex;
    margin-top: 0.5ex;
    font-weight: 100;
}

#start {
    background-color: darkred;
    color: white;
    font-size: 5ex;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 32ex;
    margin-left: 32ex;
}