@import Connect4.view.TUI
@import Connect4.model.gridComponent.Grid
@import Connect4.model.gridComponent.GridInterface
@(grid:GridInterface,player:String)

@main("Welcome to Connect4!") {
    <div class="grid">
        <p>@grid.grid(0)</p>
        <p>@grid.grid(1)</p>
        <p>@grid.grid(2)</p>
        <p>@grid.grid(3)</p>
        <p>@grid.grid(4)</p>
        <p>@grid.grid(5)</p>
    </div>
    <div class="player">
        <p>Its player @player turn!!</p>
    </div>
    <div class="info">
        <p>Use URL to play the Game!!</p>
        <p>Example: localhost:9000/connect4/0</p>
    </div>
}