@import Connect4.view.TUI
@import Connect4.model.gridComponent.Grid
@import Connect4.model.gridComponent.GridInterface
@(grid:GridInterface,player:String)

@main("Welcome to Connect4!") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/connect4.css")' />
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="mx-auto">
                        <a class="btn btn-danger" href="http://localhost:9000/connect4/0" id="start" role="button">0</a>
                    </div>
                    <div class="mx-auto">
                        <a class="btn btn-danger" href="http://localhost:9000/connect4/1" id="start" role="button">1</a>
                    </div>
                    <div class="mx-auto">
                        <a class="btn btn-danger" href="http://localhost:9000/connect4/2" id="start" role="button">2</a>
                    </div>
                    <div class="mx-auto">
                        <a class="btn btn-danger" href="http://localhost:9000/connect4/3" id="start" role="button">3</a>
                    </div>
                    <div class="mx-auto">
                        <a class="btn btn-danger" href="http://localhost:9000/connect4/4" id="start" role="button">4</a>
                    </div>
                    <div class="mx-auto">
                        <a class="btn btn-danger" href="http://localhost:9000/connect4/5" id="start" role="button">5</a>
                    </div>
                    <div class="mx-auto">
                        <a class="btn btn-danger" href="http://localhost:9000/connect4/6" id="start" role="button">6</a>
                    </div>
                </div>
                <div class="row">
                    <canvas id="mycanvas" class="grid"></canvas>
                </div>
            </div>
        </div>
    <script src='@routes.Assets.versioned("javascripts/grid.js")'></script>
}