@import Connect4.view.TUI
@import Connect4.model.gridComponent.Grid
@import Connect4.model.gridComponent.GridInterface
@(grid:GridInterface,player:String)

@main("Welcome to Connect4!") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/connect4.css")' />

    <div id="app" class="row">
        <h1>{{welcome}}</h1>
        <!--suppress SpellCheckingInspection, HtmlUnknownAttribute -->
        <input id="eingabe" v-model="name" v-on:keyup.enter="submit">
    </div>

        <div class="row">
            <div class="col">
                <div id="buttons">
                    <buttons></buttons>
                </div>
                <div class="row">
                    <canvas id="mycanvas" class="grid"></canvas>
                </div>
            </div>
        </div>
    <script src='@routes.Assets.versioned("javascripts/grid.js")'></script>
    <script type = "text/javascript" src="@routes.Assets.versioned("javascripts/gridVue.js")" ></script>

}