@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Connect 4") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
   <!--suppress HtmlUnknownTarget -->
        <h1 id="welcome">Welcome to Connect4!</h1>
        <div id="image">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Connect4_Wins.PNG" width="400">
        </div>
        <div id="about">
            <dl>
                <dt class="textHeader">About Connect4</dt>
                <dd>Connect Four (also known as Four Up, Plot Four, Find Four, Four in a Row, Four in a Line, Drop Four,
                    and Gravitrips in the Soviet Union) is a two-player connection board game, in which the players choose
                    a color and then take turns dropping colored discs into a seven-column, six-row vertically suspended grid.
                </dd>
                <dt class="textHeader">Rules</dt>
                <dd>The Connect 4 Board Game Rules are easy to understand. In fact, it is in the name. To win Connect Four,
                    all you have to do is connect four of your colored checker pieces in a row, much the same as tic tac toe.
                    This can be done horizontally, vertically or diagonally. Each player will drop in one checker piece
                    at a time. This will give you a chance to either build your row, or stop your opponent from getting
                    four in a row.The game is over either when you or your friend reaches four in a row, or when all forty
                    two slots are filled, ending in a stalemate. If you and your friend decide to play again,
                    the loser typically goes first.
                </dd>
            </dl>
            <p>
                The game was first sold under the Connect Four trademark[3] by Milton Bradley in February 1974.
                source:
                <a href="https://en.wikipedia.org/wiki/Connect_Four"> wikipedia </a>
            </p>
        </div>
    <button type="button" class="btn btn-danger">Start Game!
        <a href="connect4" id="start"> start game! </a>
    </button>

}
