
@main("Test"){
    <h1> This side is only supposed to be used for testing</h1>

    <div class="btn-group">
        <button class="btn">test</button>
        <button class="btn">hallo</button>
    </div>

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
}

